
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}


:root{
	--main-color : #f9004d ; 
	--blank-one : #191919 ; 
	--blank-two : #211d1d ; 
}


 /*********************
  Navbar section 
 *********************/
/* 	
.navbar_sec{
	height: 100vh;
	width: 100%;
	background-image: url(../img/coding7.jpg);
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span{
	color: var(--main-color);
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}


nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: var(--main-color);
	transition: .4s;
}

.btn{
	background-color:var(--main-color);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}

.btn:hover{
	transform: scale(1.2);
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');



body{
    background-color: black;
}

span{
	color: var(--main-color);
}

#subscribe{
	background-color:var(--main-color);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 35px;
	border-radius: 30px;
	transition: transform .4s; 
}

#subscribe .button:hover{

	transform: scale(1.3);
}


#subscribe :hover{
	background-color: #000;
	transform: scale(1.2);
	color : white
}


nav{
    display:flex;
    background-color: var(--blank-one);
    justify-content: space-between;
    /* padding:10px 0; */
    color:rgb(255, 254, 254);
    align-items: center;
    border-radius: 30px;

	padding : 25px 8% 25px 8% ;

	
}

nav.logo{
    letter-spacing: 3px;
}
nav ul{
    display:flex;
    list-style: none;
    width:40%;
    justify-content: space-between;
	font-weight: bold;
}

nav ul li a:hover{
	color: var(--main-color);
	transition: .4s;
}

nav ul li a {
  color:rgb(255, 254, 254);
  text-decoration: none;
  font-size: 1.2em;
}

.btn{
    border-radius: 40px;
}
/*Hamburger */
.menu-bars{
    display:none;
    flex-direction: column;
    height:20px;
    justify-content: space-between;
    position:relative;
  z-index:999;
}
.menu-bars input{
    position: absolute;
    width:40px;
    height:28px;
        left:-5px;
    top:-3px;
    opacity: 0;
    cursor:pointer;
    z-index: 2;
}

.menu-bars span{
    display:block;
    width:28px;
    height:3px;
    background-color:rgb(255, 254, 254);
    border-radius: 3px;
    transition: all 0.3s;
}

.menu-bars span:nth-child(2){
    transform-origin: 0 0 ;
}

.menu-bars span:nth-child(4){
    transform-origin: 0 100% ;
  }

.menu-bars input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-bars input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0); 
  }

.menu-bars input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0); 
    }


@media only screen and (max-width: 768px){
	nav{
		justify-content: space-between;
	}
    
    nav ul{
        width:50%;
    }

}

@media only screen and (max-width: 576px){
  .menu-bars{
    display:flex;
  }
  nav ul{
  position:absolute;
  right:0;
  top:0;
  width:100%;
  height:100vh;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: var(--blank-one);
  z-index: 1;
  transform: translateY(-100%);
  transition: all 1s;
  }
  }
  nav ul.slide{
    transform: translateY(0);
  }



/*********************
  main section 
 *********************/

.content{
	height: 300px;
	/* background-color: #b16e83; */
	/* position: absolute; */
	
	top: 50%;
	left:8%;
	padding: 30px 30px 30px 30px;
	
	/* transform: translateY(-50%); */
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}

.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid var(--main-color);
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:var(--main-color);
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}


/* ************************
 hero section 
*********************/

#home.home{
    background-image: url('../img/wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
	justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
}



/* Styling the main image */

.home .image {
	height: 80vh;
    /* flex: 1 1 10rem; */
	
}

.home .image img {
    width: 90%;
    height: 90%;
    padding: 1rem;
    animation: float 3s linear infinite;
}
/* animating the main image   */

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(3rem);
    }
}



/* @media (max-width: 450px) {
    content{
        font-size: 50%;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: center;
    }
} */


@media only screen and (max-width: 768px){

	.home{
		display: flex;
		flex-direction: column-reverse;
	}

	.content{
		margin-bottom: 40px;
	}

    
    nav ul{
        width:50%;
    }

}



/*********************
  About section start
 *********************/

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}


.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button{
	background-color:var(--main-color);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

button:hover{
	background-color: transparent;
	border: 2px solid var(--main-color);
	cursor: pointer;
}

.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}




.skill{
	background-color: #211d1d;
	padding-top: 20px;
	font-size: 3rem;
	display: flex ; 
	justify-content: center;
	color : white ; 
}

@media only screen and (max-width: 768px){

	.main{
		display: flex;
		flex-direction: column-reverse;
	}
	.about img{
		margin: 30px;
		width: 80% ;
	}

}







/********************
  swiper for technical skill 
 ************************/


 .swiper {
    width: 100%;
    height: 100%;
	background-color: #211D1D;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #211D1D ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide .card{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



.card{
	 
	height: 500px;
	width: 370px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: var(--main-color);

}

h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}


.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button{
	background-color:var(--main-color);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.card .button:hover{
	background-color: transparent;
	border: 2px solid var(--main-color);
	cursor: pointer;
}



/********************
	project section 
 ************************/


.project-section{
	background-color: var(--blank-one);
}

.project-section-header{ 
	margin-bottom: 0px;
	padding-top : 0px ; 
	background-color: var(--blank-one);
	color: white;
	font-size: 75px;
	font-weight: 1110 ;
	text-align: center; 
}

.grid-three-col{
	display : grid ; 
	gap : 20rem ; 
	
	grid-template-columns: repeat(3,1fr);
	padding: 30px;
	background-color: var(--blank-one);
}



.project-images{
	gap: 3.2rem;
}
  
  .img-ovelay {
	position: relative;
	overflow: hidden;
  }
  
  .project-images img {
	width: 100%;
	height: 100%;
	border-radius: 7px;
	position: relative;
	overflow: hidden;
  }
  
  .img-ovelay .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--main-color) ;
	opacity: 0;
	color: var(--third);
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(100%);
	transition: all 0.3s linear;
	border-radius: 7px;
	
	/* box-shadow: inset 0 0 0 0.5rem var(--helper-tint); */
  }

  .project-heading {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 6rem;
	text-transform: capitalize;
	position: relative;
  }
  
  .img-ovelay:hover > .overlay {
	opacity: 0.8;
	transform: translateY(0);
	cursor: pointer;
  }
  
  .img-ovelay .overlay .project-heading {
	margin: 0;
	color: var(--third);
	text-decoration: none;
  }







/********************
 imporant links section 
 ************************/

section .important-links-header{
	background-color: var(--blank-two);
	padding-top: 20px;
	font-size: 3rem;
	display: flex ; 
	justify-content: center;
	color : white ;
}

section .important-links{
	display: flex;
	align-items: center;
	justify-content: center;

	
	background-color: var(--blank-two);
}

section .important-links img{
	width: 30px ;
	
}

section .important-links a{
	
	width: 190px;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background:  var(--main-color);
	border-radius: 30px;
	margin: 50px 30px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
section .important-links a:hover{
	transform: scale(1.3);
	transition: .3s;
}





/********************
 contact section 
 ************************/

 


 .contact-us{
	background-color: var(--blank-one)
 }

 .contact-us-header{
	background-color: var(--blank-one);
	height: 70px;
	padding-top: 20px;
	font-size: 70px;
	display: flex ; 
	justify-content: center;
	color : white ;
 }

 .contact-us-form{
	background-color: var(--blank-one);
	display : flex ; 
	align-items: center;
	justify-content: center;
 }



 .contact-us-form-card{
	color : white ;
	width: 50%;
	max-width: 400px;
	padding: 20px;
	background-color: var(--blank-two);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin : 30px ; 
  }
  
  .contact-us-form-card h2 {
	margin-bottom: 20px;
	text-align: center;
  }
  
  .contact-us-form-card .form-group {
	margin-bottom: 20px;
  }
  
  .contact-us-form-card label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .contact-us-form-card input, textarea {
	
	width: 100%;
	padding: 8px;
	background-color: rgb(43, 38, 38);
	border: 1px solid #110d0d;
	border-radius: 4px;
	color: white ; 
	
  }

  .contact-us-form-card textarea{
	resize : none ; 
	height: 80px;
  }


  
  .contact-us-form-card button {
	width: 30%;
	padding: 10px;
	background-color: var(--main-color);
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
  }
  
  .contact-us-form-card button:hover {
	transform: scale(1.2);
	transition: .3s;
  }




/*********************
  Footer section 
 *********************/

 
.footer-distributed{
	background: var(--blank-two);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: 36px ;
	margin: 0;
}



/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:  inherit;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p div{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  var(--main-color);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

/* .footer-distributed .footer-links .link-1:before {
  content: none;
} */

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50%;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}







 

.copyright{
	width: 100%;
	height: 40px;
	background: rgb(37, 35, 35);
	display: flex;
	color: white ; 
	align-items: center;
	justify-content: center;
}






/**********************

flex
********************/

@media only screen and (max-width: 768px){

	.footer-distributed{
		display:flex ; 
		flex-direction: column;
		align-items: left;
	}

	.grid-three-col{
		display:flex ; 
		flex-direction: column;
	}

	.important-links .a{
		margin: 0 px;
		padding : 0px ; 
		border :0px ; 
		height : 7px ;

	}

	.important-links{
		display: flex;
		flex-direction: column;
	}

}
